@model IEnumerable<DentalClinic.Models.PatientRecord>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(r => r.Id))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentDate)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="records">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="records">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="records">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
